In [3]:
import os
import pandas as pd
from langchain_community.llms import Ollama

C:\Users\cheefoo3\Anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\cheefoo3\Anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [4]:
llm = Ollama(model="llama2")
llm.invoke("The first man on the moon was ...")

'\nThe first man to walk on the moon was Neil Armstrong. He stepped out of the lunar module Eagle and onto the moon\'s surface on July 20, 1969, during the Apollo 11 mission. Armstrong famously declared, "That\'s one small step for man, one giant leap for mankind," as he became the first person to set foot on the lunar surface.'

# Read transaction data

In [5]:
file = "./transactions_2022_2023.csv"
df = pd.read_csv(file)

In [6]:
df.columns

Index(['Date', 'Name / Description', 'Expense/Income', 'Amount (EUR)'], dtype='object')

In [18]:
df

          Date           Name / Description Expense/Income  Amount (EUR)
0   2023-12-30              Belastingdienst        Expense          9.96
1   2023-12-30                  Tesco Breda        Expense         17.53
2   2023-12-30      Monthly Appartment Rent        Expense        451.00
3   2023-12-30     Vishandel Sier Amsterdam        Expense         12.46
4   2023-12-29            Selling Paintings         Income         13.63
5   2023-12-29          Spotify Ab By Adyen        Expense         12.19
6   2023-12-23         Tk Maxx Amsterdam Da        Expense         27.08
7   2023-12-22                   Consulting         Income        541.57
8   2023-12-22                    Aidsfonds        Expense         10.70
9   2023-12-20                   Consulting         Income       2641.93
10  2023-12-19      Tls Bv Inz Ov-Chipkaart        Expense         18.90
11  2023-12-18               Etos Amsterdam        Expense         17.67
12  2023-12-18                  Tesco Breda        Expense          8.81
13  2023-12-18  Beta Boulders Ams Amsterdam        Expense          6.94
14  2022-11-26                       Salary         Income         14.36
15  2022-11-26     Bouldermuur Bv Amsterdam        Expense         19.27
16  2022-11-26  Birtat Restaurant Amsterdam        Expense         24.71
17  2022-11-25                  Tesco Breda        Expense         17.35
18  2022-11-24                  Freelancing         Income       2409.55
19  2022-11-19                       Tikkie        Expense         20.76
20  2022-10-25                     Blogging         Income       4044.27
21  2022-10-24                 Taxi Utrecht        Expense         18.90
22  2022-10-23                  Tesco Breda        Expense         27.54
23  2022-10-22               Apple Services        Expense         41.25
24  2022-10-21                  Tesco Breda        Expense         22.80
25  2022-01-16                   Amazon Lux        Expense         24.11
26  2022-01-15           Classpass* Monthly        Expense         30.08
27  2022-01-14   Audible Uk AdblCo/Pymt Gbr        Expense         11.00

In [7]:
# Get unique transactions in the Name/Description column
unique_transactions = df['Name / Description']
len(unique_transactions)

28

In [17]:
unique_transactions

0                 Belastingdienst
1                     Tesco Breda
2         Monthly Appartment Rent
3        Vishandel Sier Amsterdam
4               Selling Paintings
5             Spotify Ab By Adyen
6            Tk Maxx Amsterdam Da
7                      Consulting
8                       Aidsfonds
9                      Consulting
10        Tls Bv Inz Ov-Chipkaart
11                 Etos Amsterdam
12                    Tesco Breda
13    Beta Boulders Ams Amsterdam
14                         Salary
15       Bouldermuur Bv Amsterdam
16    Birtat Restaurant Amsterdam
17                    Tesco Breda
18                    Freelancing
19                         Tikkie
20                       Blogging
21                   Taxi Utrecht
22                    Tesco Breda
23                 Apple Services
24                    Tesco Breda
25                     Amazon Lux
26             Classpass* Monthly
27     Audible Uk AdblCo/Pymt Gbr
Name: Name / Description, dtype: object

In [12]:
prompt = f"""
Can you add an appropriate category to the following expenses. 
For example: Spotify AB by Adyen - Entertainment, Beta Boulders Ams Amsterdam Nld - Sport, etc.. 
Categories should be less than 4 words. {unique_transactions}
"""

response = llm.invoke(prompt)
response = response.split('\n')

In [13]:
response

['Sure! Here are the categories for each expense in the list:',
 '',
 '1. Belastingdienst - Taxes',
 '2. Tesco Breda - Groceries',
 '3. Monthly Appartment Rent - Housing',
 '4. Vishandel Sier Amsterdam - Shopping',
 '5. Spotify Ab By Adyen - Entertainment',
 '6. Tk Maxx Amsterdam Da - Clothing/Shopping',
 '7. Consulting - Professional Services',
 '8. Aidsfonds - Charity Donations',
 '9. Consulting - Professional Services',
 '10. Tls Bv Inz Ov-Chipkaart - Transportation',
 '11. Etos Amsterdam - Groceries',
 '12. Tesco Breda - Groceries',
 '13. Beta Boulders Ams Amsterdam - Sports/Fitness',
 '14. Salary - Personal Income',
 '15. Bouldermuur Bv Amsterdam - Home Improvements',
 '16. Birtat Restaurant Amsterdam - Dining Out',
 '17. Tesco Breda - Groceries',
 '18. Freelancing - Professional Services',
 '19. Tikkie - Financial Transactions',
 '20. Blogging - Personal Expenses',
 '21. Taxi Utrecht - Transportation',
 '22. Tesco Breda - Groceries',
 '23. Apple Services - Technology',
 '24. Tesco Breda - Groceries',
 '25. Amazon Lux - Shopping',
 '26. Classpass* Monthly - Fitness/Wellness',
 '27. Audible Uk AdblCo/Pymt Gbr - Entertainment',
 '',
 'Note: Some expenses may fit into more than one category, but I have assigned them to the most appropriate one based on their nature.']

In [16]:
# Put in dataframe
    # We need an index to put into dataframe
    # So use response.split(\n) to split into multiple elements 
categories_df = pd.DataFrame({'Transaction vs category': response})
categories_df[['Transaction', 'Category']] = categories_df['Transaction vs category'].str.split(' - ', expand=True)
categories_df

,Transaction vs category,Transaction,Category
0,Sure! Here are the categories for each expense...,Sure! Here are the categories for each expense...,None
1,,,None
2,1. Belastingdienst - Taxes,1. Belastingdienst,Taxes
3,2. Tesco Breda - Groceries,2. Tesco Breda,Groceries
4,3. Monthly Appartment Rent - Housing,3. Monthly Appartment Rent,Housing
5,4. Vishandel Sier Amsterdam - Shopping,4. Vishandel Sier Amsterdam,Shopping
6,5. Spotify Ab By Adyen - Entertainment,5. Spotify Ab By Adyen,Entertainment
7,6. Tk Maxx Amsterdam Da - Clothing/Shopping,6. Tk Maxx Amsterdam Da,Clothing/Shopping
8,7. Consulting - Professional Services,7. Consulting,Professional Services
9,8. Aidsfonds - Charity Donations,8. Aidsfonds,Charity Donations
10,9. Consulting - Professional Services,9. Consulting,Professional Services
11,10. Tls Bv Inz Ov-Chipkaart - Transportation,10. Tls Bv Inz Ov-Chipkaart,Transportation
12,11. Etos Amsterdam - Groceries,11. Etos Amsterdam,Groceries
13,12. Tesco Breda - Groceries,12. Tesco Breda,Groceries
14,13. Beta Boulders Ams Amsterdam - Sports/Fitness,13. Beta Boulders Ams Amsterdam,Sports/Fitness
15,14. Salary - Personal Income,14. Salary,Personal Income
16,15. Bouldermuur Bv Amsterdam - Home Improvements,15. Bouldermuur Bv Amsterdam,Home Improvements
17,16. Birtat Restaurant Amsterdam - Dining Out,16. Birtat Restaurant Amsterdam,Dining Out
18,17. Tesco Breda - Groceries,17. Tesco Breda,Groceries
19,18. Freelancing - Professional Services,18. Freelancing,Professional Services
20,19. Tikkie - Financial Transactions,19. Tikkie,Financial Transactions
21,20. Blogging - Personal Expenses,20. Blogging,Personal Expenses
22,21. Taxi Utrecht - Transportation,21. Taxi Utrecht,Transportation
23,22. Tesco Breda - Groceries,22. Tesco Breda,Groceries
24,23. Apple Services - Technology,23. Apple Services,Technology
25,24. Tesco Breda - Groceries,24. Tesco Breda,Groceries
26,25. Amazon Lux - Shopping,25. Amazon Lux,Shopping
27,26. Classpass* Monthly - Fitness/Wellness,26. Classpass* Monthly,Fitness/Wellness
28,27. Audible Uk AdblCo/Pymt Gbr - Entertainment,27. Audible Uk AdblCo/Pymt Gbr,Entertainment
29,,,None
30,Note: Some expenses may fit into more than one...,Note: Some expenses may fit into more than one...,None

In [31]:
# Remove the numbering eg "1. " from Transaction column
import re
categories_df_all = pd.DataFrame()
def remove_numbering(text):
    return re.sub(pattern, '', text)
pattern = r'^\d+\.\s?'
# Modify the 'Transaction' column in place
categories_df['Transaction'] = categories_df['Transaction'].str.replace(pattern, '', regex=True)
categories_df

,Transaction vs category,Transaction,Category
0,Sure! Here are the categories for each expense...,Sure! Here are the categories for each expense...,None
1,,,None
2,1. Belastingdienst - Taxes,Belastingdienst,Taxes
3,2. Tesco Breda - Groceries,Tesco Breda,Groceries
4,3. Monthly Appartment Rent - Housing,Monthly Appartment Rent,Housing
5,4. Vishandel Sier Amsterdam - Shopping,Vishandel Sier Amsterdam,Shopping
6,5. Spotify Ab By Adyen - Entertainment,Spotify Ab By Adyen,Entertainment
7,6. Tk Maxx Amsterdam Da - Clothing/Shopping,Tk Maxx Amsterdam Da,Clothing/Shopping
8,7. Consulting - Professional Services,Consulting,Professional Services
9,8. Aidsfonds - Charity Donations,Aidsfonds,Charity Donations
10,9. Consulting - Professional Services,Consulting,Professional Services
11,10. Tls Bv Inz Ov-Chipkaart - Transportation,Tls Bv Inz Ov-Chipkaart,Transportation
12,11. Etos Amsterdam - Groceries,Etos Amsterdam,Groceries
13,12. Tesco Breda - Groceries,Tesco Breda,Groceries
14,13. Beta Boulders Ams Amsterdam - Sports/Fitness,Beta Boulders Ams Amsterdam,Sports/Fitness
15,14. Salary - Personal Income,Salary,Personal Income
16,15. Bouldermuur Bv Amsterdam - Home Improvements,Bouldermuur Bv Amsterdam,Home Improvements
17,16. Birtat Restaurant Amsterdam - Dining Out,Birtat Restaurant Amsterdam,Dining Out
18,17. Tesco Breda - Groceries,Tesco Breda,Groceries
19,18. Freelancing - Professional Services,Freelancing,Professional Services
20,19. Tikkie - Financial Transactions,Tikkie,Financial Transactions
21,20. Blogging - Personal Expenses,Blogging,Personal Expenses
22,21. Taxi Utrecht - Transportation,Taxi Utrecht,Transportation
23,22. Tesco Breda - Groceries,Tesco Breda,Groceries
24,23. Apple Services - Technology,Apple Services,Technology
25,24. Tesco Breda - Groceries,Tesco Breda,Groceries
26,25. Amazon Lux - Shopping,Amazon Lux,Shopping
27,26. Classpass* Monthly - Fitness/Wellness,Classpass* Monthly,Fitness/Wellness
28,27. Audible Uk AdblCo/Pymt Gbr - Entertainment,Audible Uk AdblCo/Pymt Gbr,Entertainment
29,,,None
30,Note: Some expenses may fit into more than one...,Note: Some expenses may fit into more than one...,None

In [32]:
# Merge the categories_df_all with the transactions_2022_2023.csv dataframe (df)
df = pd.read_csv("transactions_2022_2023.csv")
df.loc[df['Name / Description'].str.contains("Spotify"), 'Name / Description'] = "Spotify Ab By Adyen"
df = pd.merge(df, categories_df, left_on='Name / Description', right_on='Transaction', how='left')
df

,Date,Name / Description,Expense/Income,Amount (EUR),Transaction vs category,Transaction,Category
0,2023-12-30,Belastingdienst,Expense,9.96,1. Belastingdienst - Taxes,Belastingdienst,Taxes
1,2023-12-30,Tesco Breda,Expense,17.53,2. Tesco Breda - Groceries,Tesco Breda,Groceries
2,2023-12-30,Tesco Breda,Expense,17.53,12. Tesco Breda - Groceries,Tesco Breda,Groceries
3,2023-12-30,Tesco Breda,Expense,17.53,17. Tesco Breda - Groceries,Tesco Breda,Groceries
4,2023-12-30,Tesco Breda,Expense,17.53,22. Tesco Breda - Groceries,Tesco Breda,Groceries
5,2023-12-30,Tesco Breda,Expense,17.53,24. Tesco Breda - Groceries,Tesco Breda,Groceries
6,2023-12-30,Monthly Appartment Rent,Expense,451.00,3. Monthly Appartment Rent - Housing,Monthly Appartment Rent,Housing
7,2023-12-30,Vishandel Sier Amsterdam,Expense,12.46,4. Vishandel Sier Amsterdam - Shopping,Vishandel Sier Amsterdam,Shopping
8,2023-12-29,Selling Paintings,Income,13.63,NaN,NaN,NaN
9,2023-12-29,Spotify Ab By Adyen,Expense,12.19,5. Spotify Ab By Adyen - Entertainment,Spotify Ab By Adyen,Entertainment
10,2023-12-23,Tk Maxx Amsterdam Da,Expense,27.08,6. Tk Maxx Amsterdam Da - Clothing/Shopping,Tk Maxx Amsterdam Da,Clothing/Shopping
11,2023-12-22,Consulting,Income,541.57,7. Consulting - Professional Services,Consulting,Professional Services
12,2023-12-22,Consulting,Income,541.57,9. Consulting - Professional Services,Consulting,Professional Services
13,2023-12-22,Aidsfonds,Expense,10.70,8. Aidsfonds - Charity Donations,Aidsfonds,Charity Donations
14,2023-12-20,Consulting,Income,2641.93,7. Consulting - Professional Services,Consulting,Professional Services
15,2023-12-20,Consulting,Income,2641.93,9. Consulting - Professional Services,Consulting,Professional Services
16,2023-12-19,Tls Bv Inz Ov-Chipkaart,Expense,18.90,10. Tls Bv Inz Ov-Chipkaart - Transportation,Tls Bv Inz Ov-Chipkaart,Transportation
17,2023-12-18,Etos Amsterdam,Expense,17.67,11. Etos Amsterdam - Groceries,Etos Amsterdam,Groceries
18,2023-12-18,Tesco Breda,Expense,8.81,2. Tesco Breda - Groceries,Tesco Breda,Groceries
19,2023-12-18,Tesco Breda,Expense,8.81,12. Tesco Breda - Groceries,Tesco Breda,Groceries
20,2023-12-18,Tesco Breda,Expense,8.81,17. Tesco Breda - Groceries,Tesco Breda,Groceries
21,2023-12-18,Tesco Breda,Expense,8.81,22. Tesco Breda - Groceries,Tesco Breda,Groceries
22,2023-12-18,Tesco Breda,Expense,8.81,24. Tesco Breda - Groceries,Tesco Breda,Groceries
23,2023-12-18,Beta Boulders Ams Amsterdam,Expense,6.94,13. Beta Boulders Ams Amsterdam - Sports/Fitness,Beta Boulders Ams Amsterdam,Sports/Fitness
24,2022-11-26,Salary,Income,14.36,14. Salary - Personal Income,Salary,Personal Income
25,2022-11-26,Bouldermuur Bv Amsterdam,Expense,19.27,15. Bouldermuur Bv Amsterdam - Home Improvements,Bouldermuur Bv Amsterdam,Home Improvements
26,2022-11-26,Birtat Restaurant Amsterdam,Expense,24.71,16. Birtat Restaurant Amsterdam - Dining Out,Birtat Restaurant Amsterdam,Dining Out
27,2022-11-25,Tesco Breda,Expense,17.35,2. Tesco Breda - Groceries,Tesco Breda,Groceries
28,2022-11-25,Tesco Breda,Expense,17.35,12. Tesco Breda - Groceries,Tesco Breda,Groceries
29,2022-11-25,Tesco Breda,Expense,17.35,17. Tesco Breda - Groceries,Tesco Breda,Groceries
30,2022-11-25,Tesco Breda,Expense,17.35,22. Tesco Breda - Groceries,Tesco Breda,Groceries
31,2022-11-25,Tesco Breda,Expense,17.35,24. Tesco Breda - Groceries,Tesco Breda,Groceries
32,2022-11-24,Freelancing,Income,2409.55,18. Freelancing - Professional Services,Freelancing,Professional Services
33,2022-11-19,Tikkie,Expense,20.76,19. Tikkie - Financial Transactions,Tikkie,Financial Transactions
34,2022-10-25,Blogging,Income,4044.27,20. Blogging - Personal Expenses,Blogging,Personal Expenses
35,2022-10-24,Taxi Utrecht,Expense,18.90,21. Taxi Utrecht - Transportation,Taxi Utrecht,Transportation
36,2022-10-23,Tesco Breda,Expense,27.54,2. Tesco Breda - Groceries,Tesco Breda,Groceries
37,2022-10-23,Tesco Breda,Expense,27.54,12. Tesco Breda - Groceries,Tesco Breda,Groceries
38,2022-10-23,Tesco Breda,Expense,27.54,17. Tesco Breda - Groceries,Tesco Breda,Groceries
39,2022-10-23,Tesco Breda,Expense,27.54,22. Tesco Breda - Groceries,Tesco Breda,Groceries
40,2022-10-23,Tesco Breda,Expense,27.54,24. Tesco Breda - Groceries,Tesco Breda,Groceries
41,2022-10-22,Apple Services,Expense,41.25,23. Apple Services - Technology,Apple Services,Technology
42,2022-10-21,Tesco Breda,Expense,22.80,2. Tesco Breda - Groceries,Tesco Breda,Groceries
43,2022-10-21,Tesco Breda,Expense,22.80,12. Tesco Breda - Groceries,Tesco Breda,Groceries
44,2022-10-21,Tesco Breda,Expense,22.80,17. Tesco Breda - Groceries,Tesco Breda,Groceries
45,2022-10-21,Tesco Breda,Expense,22.80,22. Tesco Breda - Groceries,Tesco Breda,Groceries
46,2022-10-21,Tesco Breda,Expense,22.80,24. Tesco Breda - Groceries,Tesco Breda,Groceries
47,2022-01-16,Amazon Lux,Expense,24.11,25. Amazon Lux - Shopping,Amazon Lux,Shopping
48,2022-01-15,Classpass* Monthly,Expense,30.08,26. Classpass* Monthly - Fitness/Wellness,Classpass* Monthly,Fitness/Wellness
49,2022-01-14,Audible Uk AdblCo/Pymt Gbr,Expense,11.00,27. Audible Uk AdblCo/Pymt Gbr - Entertainment,Audible Uk AdblCo/Pymt Gbr,Entertainment